In [1]:
import pandas as pd
import numpy as np
import pylab
import datetime as dt
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)

In [2]:
sup_cus = pd.read_pickle('raw_sup_cus_clean.pkl')

In [4]:
sup_cus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 521962 entries, 0 to 521961
Data columns (total 8 columns):
id               521962 non-null object
start            521962 non-null datetime64[ns]
end              521962 non-null datetime64[ns]
rel_type         521962 non-null object
source_ticker    383420 non-null object
target_ticker    321642 non-null object
source_cusip     383980 non-null object
target_cusip     322669 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 31.9+ MB

In [3]:
sup_cus.head()

,id,start,end,rel_type,source_ticker,target_ticker,source_cusip,target_cusip
0,CUST-10394-6477,2003-04-27,2005-06-15,CUSTOMER,None,None,None,None
1,CUST-10408-1145,2003-04-03,2003-07-13,CUSTOMER,None,None,None,None
2,CUST-10435-313,2003-04-27,2005-06-15,CUSTOMER,None,None,None,None
3,CUST-11159-7280,2003-07-13,2004-06-23,CUSTOMER,None,None,None,None
4,CUST-11232-11627,2007-06-27,2008-08-02,CUSTOMER,None,None,None,None

In [5]:
cusip_clean = sup_cus.dropna(subset = ['source_cusip','target_cusip'])

In [7]:
cusip_clean.to_pickle('cusip_clean.pkl')

In [6]:
cusip_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228521 entries, 25 to 521961
Data columns (total 8 columns):
id               228521 non-null object
start            228521 non-null datetime64[ns]
end              228521 non-null datetime64[ns]
rel_type         228521 non-null object
source_ticker    228150 non-null object
target_ticker    227840 non-null object
source_cusip     228521 non-null object
target_cusip     228521 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 15.7+ MB