In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [14]:
factset_foundamental = pd.read_sas('final.sas7bdat', encoding ='iso-8859-1' )

In [40]:
factset_foundamental.to_pickle('factset_foundamental.pkl')

In [15]:
factset_foundamental.head()

,FS_PERM_SEC_ID,DATE,INDUSTRY_CODE,SECTOR_CODE,FF_GEN_IND,FF_ASSETS,FF_ASSETS_CURR_OTH,FF_ASSETS_OTH,FF_ASSET_TURN,FF_BPS_TANG,...,FF_ROTC,FF_SALES_PS,FF_SGA,FF_SGA_OTH_EXP,FF_STK_CHG_CF,FF_TCAP,FF_TURN_RATE,FF_UNUSUAL_EXP,FF_EBIT_OPER_ROA,CUSIP
0,B00BPC-S-JP,2002-03-31,4610,4600,3.0,1836371.0,141283.0,42588.0,0.884326,64.132325,...,-2.824438,451.195307,333401.0,333401.0,-70.0,1322258.0,NaN,9639.0,-0.655539,J25979121
1,B00BPC-S-JP,2003-03-31,4610,4600,3.0,2172284.0,104730.0,73704.0,1.039491,51.292658,...,0.805319,530.944191,397377.0,397377.0,0.0,1569763.0,NaN,10976.0,0.528307,J25979121
2,B00BPC-S-JP,2004-03-31,4610,4600,3.0,2113418.0,93486.0,63280.0,0.901482,23.600712,...,-5.802158,492.340936,378125.0,378125.0,0.0,1484928.0,NaN,7623.0,-3.156776,J25979121
3,B00BPC-S-JP,2005-03-31,4610,4600,3.0,2162654.0,133571.0,79012.0,0.996183,31.540155,...,2.007611,484.148994,373051.0,373051.0,0.0,1513263.0,NaN,16254.0,2.626195,J25979121
4,B00BPC-S-JP,2006-03-31,4610,4600,3.0,2161240.0,189235.0,96052.0,1.017317,19.194306,...,-3.260686,555.482163,374790.0,374790.0,0.0,1384471.0,NaN,17873.0,-1.241196,J25979121

In [18]:
factset_foundamental['DATE'].unique()

array(['2002-03-31T00:00:00.000000000', '2003-03-31T00:00:00.000000000',
       '2004-03-31T00:00:00.000000000', '2005-03-31T00:00:00.000000000',
       '2006-03-31T00:00:00.000000000', '2007-03-31T00:00:00.000000000',
       '2008-03-31T00:00:00.000000000', '2009-03-31T00:00:00.000000000',
       '2011-03-31T00:00:00.000000000', '2012-03-31T00:00:00.000000000',
       '2013-03-31T00:00:00.000000000', '2014-03-31T00:00:00.000000000',
       '2015-03-31T00:00:00.000000000', '2016-03-31T00:00:00.000000000',
       '2017-03-31T00:00:00.000000000', '2002-12-31T00:00:00.000000000',
       '2003-12-31T00:00:00.000000000', '2004-12-31T00:00:00.000000000',
       '2005-12-31T00:00:00.000000000', '2006-12-31T00:00:00.000000000',
       '2007-12-31T00:00:00.000000000', '2008-12-31T00:00:00.000000000',
       '2009-12-31T00:00:00.000000000', '2010-12-31T00:00:00.000000000',
       '2011-12-31T00:00:00.000000000', '2012-12-31T00:00:00.000000000',
       '2013-12-31T00:00:00.000000000', '2014-12-31T00:00:00.000000000',
       '2015-12-31T00:00:00.000000000', '2016-12-31T00:00:00.000000000',
       '2017-12-31T00:00:00.000000000', '2002-02-28T00:00:00.000000000',
       '2003-02-28T00:00:00.000000000', '2004-02-29T00:00:00.000000000',
       '2005-02-28T00:00:00.000000000', '2006-02-28T00:00:00.000000000',
       '2007-06-30T00:00:00.000000000', '2008-06-30T00:00:00.000000000',
       '2009-06-30T00:00:00.000000000', '2010-06-30T00:00:00.000000000',
       '2011-06-30T00:00:00.000000000', '2012-06-30T00:00:00.000000000',
       '2013-06-30T00:00:00.000000000', '2014-06-30T00:00:00.000000000',
       '2015-06-30T00:00:00.000000000', '2016-06-30T00:00:00.000000000',
       '2017-06-30T00:00:00.000000000', '2004-06-30T00:00:00.000000000',
       '2005-06-30T00:00:00.000000000', '2006-06-30T00:00:00.000000000',
       '2010-03-31T00:00:00.000000000', '2002-06-30T00:00:00.000000000',
       '2003-06-30T00:00:00.000000000', '2002-05-31T00:00:00.000000000',
       '2003-08-31T00:00:00.000000000', '2004-08-31T00:00:00.000000000',
       '2005-08-31T00:00:00.000000000', '2007-09-30T00:00:00.000000000',
       '2008-09-30T00:00:00.000000000', '2009-09-30T00:00:00.000000000',
       '2010-09-30T00:00:00.000000000', '2011-09-30T00:00:00.000000000',
       '2012-09-30T00:00:00.000000000', '2013-09-30T00:00:00.000000000',
       '2014-09-30T00:00:00.000000000', '2015-09-30T00:00:00.000000000',
       '2016-09-30T00:00:00.000000000', '2017-09-30T00:00:00.000000000',
       '2007-02-28T00:00:00.000000000', '2008-02-29T00:00:00.000000000',
       '2009-02-28T00:00:00.000000000', '2002-08-31T00:00:00.000000000',
       '2006-08-31T00:00:00.000000000', '2007-08-31T00:00:00.000000000',
       '2010-02-28T00:00:00.000000000', '2011-02-28T00:00:00.000000000',
       '2012-02-29T00:00:00.000000000', '2013-02-28T00:00:00.000000000',
       '2014-02-28T00:00:00.000000000', '2015-02-28T00:00:00.000000000',
       '2016-02-29T00:00:00.000000000', '2017-02-28T00:00:00.000000000',
       '2014-07-31T00:00:00.000000000', '2013-07-31T00:00:00.000000000',
       '2016-07-31T00:00:00.000000000', '2017-07-31T00:00:00.000000000',
       '2002-09-30T00:00:00.000000000', '2003-09-30T00:00:00.000000000',
       '2004-09-30T00:00:00.000000000', '2005-09-30T00:00:00.000000000',
       '2006-09-30T00:00:00.000000000', '2002-01-31T00:00:00.000000000',
       '2003-01-31T00:00:00.000000000', '2004-01-31T00:00:00.000000000',
       '2005-01-31T00:00:00.000000000', '2006-01-31T00:00:00.000000000',
       '2007-01-31T00:00:00.000000000', '2008-01-31T00:00:00.000000000',
       '2009-01-31T00:00:00.000000000', '2010-01-31T00:00:00.000000000',
       '2011-01-31T00:00:00.000000000', '2012-01-31T00:00:00.000000000',
       '2013-01-31T00:00:00.000000000', '2014-01-31T00:00:00.000000000',
       '2015-01-31T00:00:00.000000000', '2002-04-30T00:00:00.000000000',
       '2003-04-30T00:00:00.000000000', '2004-04-30T00:00:00.000000000',
       '2005-04-30T00:00:00.000000000', '2006-04-30T00:00:00.000000000',
       '2007-04-30T00:00:00.000000000', '2008-04-30T00:00:00.000000000',
       '2009-04-30T00:00:00.000000000', '2010-04-30T00:00:00.000000000',
       '2011-04-30T00:00:00.000000000', '2012-04-30T00:00:00.000000000',
       '2013-04-30T00:00:00.000000000', '2014-04-30T00:00:00.000000000',
       '2015-04-30T00:00:00.000000000', '2016-04-30T00:00:00.000000000',
       '2017-04-30T00:00:00.000000000', '2003-05-31T00:00:00.000000000',
       '2004-05-31T00:00:00.000000000', '2005-05-31T00:00:00.000000000',
       '2006-05-31T00:00:00.000000000', '2007-05-31T00:00:00.000000000',
       '2008-05-31T00:00:00.000000000', '2009-05-31T00:00:00.000000000',
       '2010-05-31T00:00:00.000000000', '2011-05-31T00:00:00.000000000',
       '2012-05-31T00:00:00.000000000', '2013-05-31T00:00:00.000000000',
       '2014-05-31T00:00:00.000000000', '2015-05-31T00:00:00.000000000',
       '2016-05-31T00:00:00.000000000', '2017-05-31T00:00:00.000000000',
       '2016-01-31T00:00:00.000000000', '2017-01-31T00:00:00.000000000',
       '2002-07-31T00:00:00.000000000', '2003-07-31T00:00:00.000000000',
       '2004-07-31T00:00:00.000000000', '2005-07-31T00:00:00.000000000',
       '2006-07-31T00:00:00.000000000', '2007-07-31T00:00:00.000000000',
       '2008-07-31T00:00:00.000000000', '2002-11-30T00:00:00.000000000',
       '2003-11-30T00:00:00.000000000', '2004-11-30T00:00:00.000000000',
       '2005-11-30T00:00:00.000000000', '2006-11-30T00:00:00.000000000',
       '2007-11-30T00:00:00.000000000', '2008-11-30T00:00:00.000000000',
       '2010-07-31T00:00:00.000000000', '2011-07-31T00:00:00.000000000',
       '2012-07-31T00:00:00.000000000', '2015-07-31T00:00:00.000000000',
       '2009-08-31T00:00:00.000000000', '2010-08-31T00:00:00.000000000',
       '2011-08-31T00:00:00.000000000', '2012-08-31T00:00:00.000000000',
       '2013-08-31T00:00:00.000000000', '2014-08-31T00:00:00.000000000',
       '2015-08-31T00:00:00.000000000', '2016-08-31T00:00:00.000000000',
       '2017-08-31T00:00:00.000000000', '2009-07-31T00:00:00.000000000',
       '2008-08-31T00:00:00.000000000', '2008-10-31T00:00:00.000000000',
       '2009-10-31T00:00:00.000000000', '2010-10-31T00:00:00.000000000',
       '2011-10-31T00:00:00.000000000', '2012-10-31T00:00:00.000000000',
       '2009-11-30T00:00:00.000000000', '2010-11-30T00:00:00.000000000',
       '2011-11-30T00:00:00.000000000', '2012-11-30T00:00:00.000000000',
       '2013-11-30T00:00:00.000000000', '2014-11-30T00:00:00.000000000',
       '2015-11-30T00:00:00.000000000', '2016-11-30T00:00:00.000000000',
       '2017-11-30T00:00:00.000000000', '2002-10-31T00:00:00.000000000',
       '2003-10-31T00:00:00.000000000', '2004-10-31T00:00:00.000000000',
       '2005-10-31T00:00:00.000000000', '2006-10-31T00:00:00.000000000',
       '2007-10-31T00:00:00.000000000', '2013-10-31T00:00:00.000000000',
       '2014-10-31T00:00:00.000000000', '2015-10-31T00:00:00.000000000',
       '2016-10-31T00:00:00.000000000', '2017-10-31T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [31]:
factset_foundamental_2002 = factset_foundamental.loc[(factset_foundamental['DATE'] < dt.date(2003,1,1)) & (factset_foundamental['DATE'] > dt.date(2002,5,30)) ]

I:\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Comparing Series of datetimes with 'datetime.date'.  Currently, the
'datetime.date' is coerced to a datetime. In the future pandas will
not coerce, and a TypeError will be raised. To retain the current
behavior, convert the 'datetime.date' to a datetime with
'pd.Timestamp'.
  """Entry point for launching an IPython kernel.

In [35]:
factset_foundamental_2002 = factset_foundamental_2002.drop_duplicates(subset = 'FS_PERM_SEC_ID', keep = 'last')

In [36]:
len(factset_foundamental_2002['FS_PERM_SEC_ID'].unique())

27476

In [38]:
factset_foundamental_2002.head()

,FS_PERM_SEC_ID,DATE,INDUSTRY_CODE,SECTOR_CODE,FF_GEN_IND,FF_ASSETS,FF_ASSETS_CURR_OTH,FF_ASSETS_OTH,FF_ASSET_TURN,FF_BPS_TANG,...,FF_ROTC,FF_SALES_PS,FF_SGA,FF_SGA_OTH_EXP,FF_STK_CHG_CF,FF_TCAP,FF_TURN_RATE,FF_UNUSUAL_EXP,FF_EBIT_OPER_ROA,CUSIP
15,B00M5L-S-SE,2002-12-31,1315,1300,1.0,84.6330,0.0000,3.7760,0.295582,-15.642801,...,-58.154958,10.561717,42.590000,42.590000,0.000,64.1830,NaN,0.000000,-40.362577,W59397104
31,B00N7M-S-CH,2002-12-31,1235,1200,1.0,41420.1612,5720.2299,770.1639,0.598438,-1.871335,...,0.943332,20.287744,6274.238143,6274.238143,0.000,12395.9055,NaN,566.283829,1.478513,H0010V101
47,B00QCP-S-BE,2002-12-31,3525,3500,1.0,187.3910,0.0000,7.5640,1.587023,13.781538,...,0.226097,105.626238,NaN,5.370000,0.000,145.6670,NaN,0.059000,-0.039221,B1306K102
52,B00RFQ-S-FR,2002-12-31,1210,1200,1.0,82.8320,0.1100,0.1350,1.274577,5.754530,...,12.301591,12.828194,NaN,1.459000,0.000,56.0170,NaN,0.017000,12.043458,F91651194
68,B00SHR-S-GB,2002-12-31,4830,4800,6.0,1535.9110,NaN,16.7050,0.360527,0.760944,...,6.315483,1.404050,150.457000,243.797000,83.706,1153.9770,NaN,0.000000,6.772340,G19684102

In [41]:
neg_degree = pd.read_pickle('net_degree.pkl')

In [43]:
neg_degree.head().T

,0,1,2,3,4
cusip_9,000360206,000361105,00089L107,001031103,001084102
out_degree_centrality,0.000846024,0.000564016,0.000282008,0.000282008,0.000564016
in_degree_centrality,0,0.000282008,0,0,0.00253807
closeness_centrality,0,0.140794,0,0,0.122048
betweenness_centrality,0,2.181e-05,0,0,0.00112158
eigenvector_centrality,7.3978e-18,0.00676808,7.3978e-18,7.3978e-18,0.00146688
harmonic_centrality,0,556.132,0,0,476.103
average_neighbor_degree,1.66667,5,0,1,6
square_clustering,0,0,0,0,0
core_number,3,3,1,1,6
pagerank,9.18391e-05,0.000213751,9.18391e-05,9.18391e-05,0.00104526
hubs,0.000201335,8.48143e-05,3.00981e-05,3.37712e-06,7.33546e-06
authorities,0,2.49972e-05,0,0,0.00015501
year_0,2004-12-31,2004-12-31,2004-12-31,2004-12-31,2004-12-31
in_degree_0,0,1,0,0,9
out_degree_0,3,2,1,1,2
in_degree_1,0,0,0,0,7
out_degree_1,3,5,1,1,2
in_diff,0,-1,0,0,-2
out_diff,0,3,0,0,0
out_diff_ratio,0,1.5,0,0,0
in_diff_ratio,NaN,-1,NaN,NaN,-0.222222
higher_0,NaN,1.5,NaN,NaN,NaN
lower_0,NaN,NaN,NaN,NaN,NaN
out_group,3,1,3,3,3