In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pylab
import seaborn as sns; sns.set(color_codes=True)
from matplotlib.colors import ListedColormap
import networkx as nx

In [15]:
#region = pd.read_pickle('wrds_geo_exp.pkl')

In [16]:
# region_0 = region.loc[region['layer_number'] == 0]
# region_1 = region.loc[region['layer_number'] == 1]
# region_2 = region.loc[region['layer_number'] == 2]
# region_3 = region.loc[region['layer_number'] == 3]
# region_4 = region.loc[region['layer_number'] == 4]

In [17]:
# print(len(region_0['name'].unique()),
# len(region_1['name'].unique()), 
# len(region_2['name'].unique()),
# len(region_3['name'].unique()),
# len(region_4['name'].unique()))

In [18]:
# region_3 = region_3.drop_duplicates(subset=['cusip'], keep='last')
# region_3 = region_3.rename(columns = {'cusip': 'cusip_9'})
# region_3.head()
#region_3.to_pickle('region_3.pkl')

In [32]:
region_3 = pd.read_pickle('region_3.pkl')
region_3.head()

    company_id    cusip_9                      name  layer_number
73       10001  879080109  United States and Canada           3.0
404      10004  878919208       Western Middle East           3.0
529  100050538  A1142C109   Europe Unallocated Area           3.0
534  100050999  Y8588E105                  Far East           3.0
539  100051504  74737F101        Non-Operating Area           3.0

In [33]:
sector_funda_net_degree_3 = pd.read_pickle('sector_funda_net_degree_3.pkl')

In [34]:
sector_funda_net_degree_3.head()

,cusip_9,out_degree_centrality,in_degree_centrality,closeness_centrality,betweenness_centrality,eigenvector_centrality,harmonic_centrality,average_neighbor_degree,square_clustering,core_number,...,SECTOR_CODE3250,SECTOR_CODE3300,SECTOR_CODE3350,SECTOR_CODE3400,SECTOR_CODE3500,SECTOR_CODE4600,SECTOR_CODE4700,SECTOR_CODE4800,SECTOR_CODE4900,SECTOR_CODE6000
0,000360206,0.000848,0.000000,0.000000,0.000000,6.336145e-17,0.000000,2.000000,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,000361105,0.000000,0.000283,0.138689,0.000000,6.321229e-03,548.415620,0.000000,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,001084102,0.000565,0.002545,0.120557,0.001189,1.308002e-03,468.522872,6.000000,0.0,6.0,...,0,0,0,0,0,0,0,0,0,0
3,00108M102,0.000848,0.000283,0.124502,0.000048,2.362460e-03,480.410101,6.333333,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,001204106,0.000283,0.001414,0.115748,0.000250,5.949723e-04,446.904182,2.000000,0.0,4.0,...,0,0,0,0,0,0,1,0,0,0

In [35]:
sector_funda_net_degree_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66328 entries, 0 to 66327
Columns: 112 entries, cusip_9 to SECTOR_CODE6000
dtypes: datetime64[ns](1), float64(85), int64(1), object(5), uint8(20)
memory usage: 48.3+ MB

In [36]:
region_sector_funda_net_degree_3 = pd.merge(sector_funda_net_degree_3, region_3, how = 'inner', on = 'cusip_9')

In [37]:
region_sector_funda_net_degree_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63456 entries, 0 to 63455
Columns: 115 entries, cusip_9 to layer_number
dtypes: datetime64[ns](1), float64(86), int64(1), object(7), uint8(20)
memory usage: 47.7+ MB

In [38]:
region_sector_funda_net_degree_3 = region_sector_funda_net_degree_3.drop(columns = ['company_id','layer_number'])

In [39]:
region_sector_funda_net_degree_3 = region_sector_funda_net_degree_3.rename(columns = {'name':'region'})

In [40]:
region_dumy = pd.get_dummies(region_sector_funda_net_degree_3['region'])

In [41]:
region_sector_funda_net_degree_3 = pd.concat([region_sector_funda_net_degree_3,region_dumy], axis = 1)

In [42]:
region_sector_funda_net_degree_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63456 entries, 0 to 63455
Columns: 142 entries, cusip_9 to Western Non-European Union
dtypes: datetime64[ns](1), float64(85), int64(1), object(6), uint8(49)
memory usage: 48.5+ MB

In [43]:
region_sector_funda_net_degree_3.to_pickle('region_sector_funda_net_degree_3.pkl')