In [16]:
import pandas as pd
import numpy as np

In [17]:
page = 'https://www.sec.gov/info/edgar/siccodes.htm'
#infoboxes = pd.read_html(page, index_col=0, attrs={"class":"infobox"})
wikitables = pd.read_html(page, index_col=0, attrs={"class":"wikitable"})
print("Extracted {num} wikitables".format(num=len(wikitables)))

ValueError: No tables found

In [15]:
wikitables[0]

                                                                    1
0
Range of SIC Codes                                           Division
0100-0999                           Agriculture, Forestry and Fishing
1000-1499                                                      Mining
1500-1799                                                Construction
1800-1999                                                    not used
2000-3999                                               Manufacturing
4000-4999           Transportation, Communications, Electric, Gas ...
5000-5199                                             Wholesale Trade
5200-5999                                                Retail Trade
6000-6799                          Finance, Insurance and Real Estate
7000-8999                                                    Services
9100-9729                                       Public Administration
9900-9999                                             Nonclassifiable

In [11]:
wiki_sic = pd.DataFrame(wikitables[1])

In [13]:
wiki_sic = wiki_gics.reset_index()
wiki_sic.columns = ['index','code','sector']

In [14]:
wiki_sic.head()

   index             code                                            sector
0      0         SIC Code                                          Industry
1      1  0100 (01111...)                     Agricultural Production-Crops
2      2             0200  Agricultural Prod-Livestock & Animal Specialties
3      3             0700                             Agricultural Services
4      4             0800                                          Forestry

In [24]:
wiki_gics_01 = wiki_gics[[0,1]]
wiki_gics_01.columns = ['code', 'sector']
wiki_gics_23 = wiki_gics[[2,3]]
wiki_gics_23.columns = ['code', 'sector']
wiki_gics_45 = wiki_gics[[4,5]]
wiki_gics_45.columns = ['code', 'sector']
wiki_gics_67 = wiki_gics[[6,7]]
wiki_gics_67.columns = ['code', 'sector']

In [25]:
wiki_gics_23 = wiki_gics_23.dropna()
wiki_gics_45 = wiki_gics_45.dropna()
wiki_gics_67 = wiki_gics_67.dropna()

In [26]:
wiki_gics = pd.concat([wiki_gics_01,wiki_gics_23,wiki_gics_45,wiki_gics_67])

In [27]:
wiki_gics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262 entries, 0 to 146
Data columns (total 2 columns):
code      262 non-null object
sector    262 non-null object
dtypes: object(2)
memory usage: 6.1+ KB

In [29]:
wiki_gics.head()

       code                              sector
0    Sector                      Industry Group
1        10                              Energy
2  10101020      Oil & Gas Equipment & Services
3    101020         Oil, Gas & Consumable Fuels
4  10102020  Oil & Gas Exploration & Production

In [30]:
wiki_gics.to_pickle('gics_wiki.pkl')