In [40]:
import pandas as pd
import numpy as np

In [41]:
page = 'https://en.wikipedia.org/wiki/Standard_Industrial_Classification'
#infoboxes = pd.read_html(page, index_col=0, attrs={"class":"infobox"})
wikitables = pd.read_html(page, index_col=0, attrs={"class":"wikitable"})
print("Extracted {num} wikitables".format(num=len(wikitables)))

Extracted 2 wikitables

In [44]:
wikitables[0]

                                                                    1
0
Range of SIC Codes                                           Division
0100-0999                           Agriculture, Forestry and Fishing
1000-1499                                                      Mining
1500-1799                                                Construction
1800-1999                                                    not used
2000-3999                                               Manufacturing
4000-4999           Transportation, Communications, Electric, Gas ...
5000-5199                                             Wholesale Trade
5200-5999                                                Retail Trade
6000-6799                          Finance, Insurance and Real Estate
7000-8999                                                    Services
9100-9729                                       Public Administration
9900-9999                                             Nonclassifiable

In [46]:
wiki_sic_0 = pd.DataFrame(wikitables[0])

In [47]:
wiki_sic_0.head()

                                                    1
0
Range of SIC Codes                           Division
0100-0999           Agriculture, Forestry and Fishing
1000-1499                                      Mining
1500-1799                                Construction
1800-1999                                    not used

In [48]:
wiki_sic_0 = wiki_sic_0.drop(wiki_sic_0.index[0])

In [49]:
wiki_sic_0 = wiki_sic_0.reset_index()

In [51]:
wiki_sic_0.columns = ['range','division']

In [52]:
wiki_sic_0.head()

       range                           division
0  0100-0999  Agriculture, Forestry and Fishing
1  1000-1499                             Mining
2  1500-1799                       Construction
3  1800-1999                           not used
4  2000-3999                      Manufacturing

In [53]:
wiki_sic_0.to_pickle('sic_range.pkl')

In [10]:
wiki_sic = pd.DataFrame(wikitables[1])

In [11]:
wiki_sic = wiki_sic.reset_index()
#wiki_sic.columns = ['code','sector']

In [13]:
wiki_sic.columns = ['code','sector']

In [15]:
wiki_sic = wiki_sic.drop(wiki_sic.index[0])

In [17]:
wiki_sic = wiki_sic.replace('0100 (01111...)', '0100')

In [18]:
wiki_sic.head()

   code                                            sector
1  0100                     Agricultural Production-Crops
2  0200  Agricultural Prod-Livestock & Animal Specialties
3  0700                             Agricultural Services
4  0800                                          Forestry
5  0900                     Fishing, Hunting and Trapping

In [19]:
wiki_sic.to_pickle('wiki_sic.pkl')