In [1]:
import pandas as pd
import numpy as np
import pylab
import datetime as dt
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns; sns.set(color_codes=True)

In [2]:
raw = pd.read_pickle('wrds_relationship')
#raw.info()

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090566 entries, 0 to 2090565
Data columns (total 35 columns):
start                          datetime64[ns]
end                            datetime64[ns]
rev_                           float64
id                             object
rel_type                       object
source_company_id              object
target_company_id              object
subsidiaries                   object
revenue_percent                float64
percent_estimated              object
source_company_subsidiaries    object
target_company_subsidiaries    object
source_name                    object
source_ticker                  object
source_cusip                   object
source_isin                    object
source_sedol                   object
target_name                    object
target_ticker                  object
target_cusip                   object
target_isin                    object
target_sedol                   object
relationship_id                object
source_company_keyword         object
target_company_keyword         object
keyword1                       object
keyword2                       object
keyword3                       object
keyword4                       object
keyword5                       object
keyword6                       object
keyword7                       object
keyword8                       object
keyword9                       object
keyword10                      object
dtypes: datetime64[ns](2), float64(2), object(31)
memory usage: 558.2+ MB

In [7]:
raw_compid = raw[['source_company_id','target_company_id', 'source_ticker','target_ticker']]

In [8]:
raw_compid.head()

  source_company_id target_company_id source_ticker target_ticker
0         194517865         194526071        OMI-CA        PBR-CA
1           1919323           1503347          None         HO-FR
2           1919323           1881542          None       3898-HK
3           1919323           6059160          None          None
4           1919323           6059160          None          None

In [10]:
len(raw_compid['source_company_id'].unique()),len(raw_compid['target_company_id'].unique())

(32276, 197652)

In [5]:
raw_compin0 = raw_compid.dropna()

In [6]:
raw_compin0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920724 entries, 0 to 2090565
Data columns (total 4 columns):
source_company_id    920724 non-null object
target_company_id    920724 non-null object
source_ticker        920724 non-null object
target_ticker        920724 non-null object
dtypes: object(4)
memory usage: 35.1+ MB

In [11]:
raw_compid['source_company_id'].unique()

array(['194517865', '1919323', '7954', ..., '9953', '8382393', '6583204'],
      dtype=object)

In [5]:
raw_compid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090566 entries, 0 to 2090565
Data columns (total 4 columns):
source_company_id    object
target_company_id    object
source_ticker        object
target_ticker        object
dtypes: object(4)
memory usage: 63.8+ MB

In [4]:
raw_compid.head()

  source_company_id target_company_id source_ticker target_ticker
0         194517865         194526071        OMI-CA        PBR-CA
1           1919323           1503347          None         HO-FR
2           1919323           1881542          None       3898-HK
3           1919323           6059160          None          None
4           1919323           6059160          None          None

In [29]:
# raw['end_'] = pd.to_datetime(raw['end_'], errors = 'coerce').dt.date
# raw['start_'] = pd.to_datetime(raw['start_']).dt.date
# raw['end_'] = raw['end_'].fillna('2017-08-10')
# raw = raw.rename(columns={"start_": "start", "end_": "end"})
# raw['start'] = pd.to_datetime(raw["start"])
# raw['end'] = pd.to_datetime(raw["end"])

In [3]:
raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2090566 entries, 0 to 2090565
Data columns (total 35 columns):
start                          datetime64[ns]
end                            datetime64[ns]
rev_                           float64
id                             object
rel_type                       object
source_company_id              object
target_company_id              object
subsidiaries                   object
revenue_percent                float64
percent_estimated              object
source_company_subsidiaries    object
target_company_subsidiaries    object
source_name                    object
source_ticker                  object
source_cusip                   object
source_isin                    object
source_sedol                   object
target_name                    object
target_ticker                  object
target_cusip                   object
target_isin                    object
target_sedol                   object
relationship_id                object
source_company_keyword         object
target_company_keyword         object
keyword1                       object
keyword2                       object
keyword3                       object
keyword4                       object
keyword5                       object
keyword6                       object
keyword7                       object
keyword8                       object
keyword9                       object
keyword10                      object
dtypes: datetime64[ns](2), float64(2), object(31)
memory usage: 558.2+ MB

In [6]:
cus = pd.read_pickle('customers_clean.pkl')

In [10]:
sup = pd.read_pickle('suppliers_clean.pkl')

In [11]:
sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63236 entries, 0 to 63235
Data columns (total 8 columns):
id               63236 non-null object
start            63236 non-null datetime64[ns]
end              63236 non-null datetime64[ns]
rel_type         63236 non-null object
source_ticker    63236 non-null object
target_ticker    63236 non-null object
source_cusip     63236 non-null object
target_cusip     63236 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 3.9+ MB

In [12]:
G = nx.from_pandas_edgelist(sup, 'source_ticker', 'target_ticker', create_using = nx.DiGraph())

In [13]:
len(G.nodes())

15925

In [14]:
raw_0 = raw[['id','start','end','rel_type','source_ticker','source_cusip','target_ticker','target_cusip']]
#raw_0.info()

In [15]:
raw_0.head()

,id,start,end,rel_type,source_ticker,source_cusip,target_ticker,target_cusip
0,COMP-100000146,2016-11-03,2017-08-10,COMPETITOR,OMI-CA,687196105,PBR-CA,69889L104
1,COMP-100003419,2016-11-03,2017-08-10,COMPETITOR,None,None,HO-FR,F9156M108
2,COMP-100005033,2016-11-03,2017-08-10,COMPETITOR,None,None,3898-HK,Y9892N104
3,COMP-100005156,2016-11-03,2016-11-03,COMPETITOR,None,None,None,None
4,COMP-100005156,2016-11-03,2016-11-03,COMPETITOR,None,None,None,None

In [18]:
raw_0 = raw_0.dropna()
raw_0.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 920673 entries, 0 to 2090565
Data columns (total 8 columns):
id               920673 non-null object
start            920673 non-null datetime64[ns]
end              920673 non-null datetime64[ns]
rel_type         920673 non-null object
source_ticker    920673 non-null object
source_cusip     920673 non-null object
target_ticker    920673 non-null object
target_cusip     920673 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 63.2+ MB

In [61]:
raw_0['rel_type'].unique()

array(['COMPETITOR', 'CUSTOMER', 'PARTNER-INVESTO', 'PARTNER-EINVEST',
       'PARTNER-LICENOT', 'PARTNER-JVENTUR', 'PARTNER-LICENIN',
       'PARTNER-DISTRIB', 'PARTNER-RESCOLB', 'PARTNER-MANUFAC',
       'PARTNER-INTPROD', 'PARTNER-MARKTNG', 'PARTNER-TECHNGY',
       'PARTNER-NA', 'PARTNER-PLICENS', 'SUPPLIER'], dtype=object)

In [75]:
raw_customers = raw_0.loc[raw_0['rel_type'] == 'CUSTOMER']

In [19]:
raw_suppliers = raw_0.loc[raw_0['rel_type'] == 'SUPPLIER']

In [91]:
raw_suppliers = raw_suppliers.rename(columns={"source_ticker": "target_ticker", "source_cusip": "target_cusip", 
                                              "target_ticker": "source_ticker", "target_cusip": "source_cusip"})

In [95]:
raw_suppliers = raw_suppliers[['id', 'start','end','rel_type','source_ticker', 'target_ticker','source_cusip','target_cusip']]

In [97]:
raw_suppliers['rel_type'] = 'CUSTOMER'

In [20]:
raw_suppliers.head()

,id,start,end,rel_type,source_ticker,source_cusip,target_ticker,target_cusip
1834567,SUPPL-100001674,2016-11-03,2017-08-10,SUPPLIER,4924-JP,J12459103,JNJ,478160104
1834568,SUPPL-100001696,2016-11-03,2017-08-10,SUPPLIER,OANDO-NG,V6796A108,SEPL-GB,V78799109
1834569,SUPPL-100002304,2016-11-03,2017-08-10,SUPPLIER,GGBL-GH,V4162X109,GUINNESS-NG,V4164L103
1834570,SUPPL-100002463,2016-11-03,2017-08-10,SUPPLIER,GGBL-GH,V4162X109,DGE-GB,G42089113
1834571,SUPPL-100004507,2016-11-03,2016-11-03,SUPPLIER,ELECMETAL-CL,P2577D103,COPEC-CL,P7847L108

In [98]:
raw_suppliers.head()

,id,start,end,rel_type,source_ticker,target_ticker,source_cusip,target_cusip
1834567,SUPPL-100001674,2016-11-03,2017-08-10,CUSTOMER,JNJ,4924-JP,478160104,J12459103
1834568,SUPPL-100001696,2016-11-03,2017-08-10,CUSTOMER,SEPL-GB,OANDO-NG,V78799109,V6796A108
1834569,SUPPL-100002304,2016-11-03,2017-08-10,CUSTOMER,GUINNESS-NG,GGBL-GH,V4164L103,V4162X109
1834570,SUPPL-100002463,2016-11-03,2017-08-10,CUSTOMER,DGE-GB,GGBL-GH,G42089113,V4162X109
1834571,SUPPL-100004507,2016-11-03,2016-11-03,CUSTOMER,COPEC-CL,ELECMETAL-CL,P7847L108,P2577D103

In [99]:
raw_suppliers.to_pickle('suppliers.pkl')

In [76]:
raw_customers.to_pickle('customers.pkl')

In [77]:
raw_customers = pd.read_pickle('customers.pkl')

In [100]:
type(raw_suppliers['end'])

pandas.core.series.Series

In [101]:
raw_suppliers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111139 entries, 1834567 to 2090565
Data columns (total 8 columns):
id               111139 non-null object
start            111139 non-null datetime64[ns]
end              111139 non-null datetime64[ns]
rel_type         111139 non-null object
source_ticker    111139 non-null object
target_ticker    111139 non-null object
source_cusip     111139 non-null object
target_cusip     111139 non-null object
dtypes: datetime64[ns](2), object(6)
memory usage: 7.6+ MB